[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
confluent-kafka = "*"
SQLAlchemy = "==1.4.0b2"
psycopg2 = "*"
pydantic = "*"
sqlalchemy-repr = "*"
tqdm = "*"

[requires]
python_version = "3.8"
